<!DOCTYPE html>

  <head>
    <title> REST TRIVIA [COLLECTION] </title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    
  </head>

  <body class="bg-cover bg-fixed bg-gradient-to-r from-blue-400 to-purple-400 w-full">
    <nav class="p-6 text-indigo-600 border-4">
      <div class="container mx-auto flex justify-between items-center border-4">
        <a href="/"><img src={{ url_for('static', filename='bed.png') }} alt="bed" width="150" height="150"></a>
        <ul class="flex space-x-6 mr-24 justify-center items-center">
          <li>
            {% if pfp == "" %}
            <img class="w-14 h-14 rounded-full" src={{ url_for('static', filename='default.jpg') }} alt="pfp">
            {% endif %}
            {% if pfp != "" %}
            <div class="h-14 w-14 overflow-hidden rounded-full">
              <img class="object-cover w-full h-full" src="{{pfp}}" alt="newpfp">
            </div>
            {% endif %}
          </li>
          <li>
            <p class="2xl text-white font-semibold text-base">{{points}}pts</p>
          </li>
          <li>
            <form action="/logout">
              <input type="submit" class="hover:underline transition ease-in-out delay-50 hover:-translate-y-1 hover:scale-110 hover:bg-indigo-500 duration-300 rounded-lg p-3 text-white font-semibold text-base cursor-pointer" value="Logout">
            </form>
          </li>
      </div>
    </nav>
    {% if empty %}
    <div class="flex justify-center h-screen">
      <div class="w-5/6 h-5/6 bg-white bg-opacity-90 shadow-lg rounded-lg border-4 flex justify-center items-start p-8">
        <div class="text-center">
          <h1 class="text-2xl font-semibold">My Collection</h1>
          <p class="text-2xl">You have no cards</p>
          <h1 class="text-6xl">WOMP WOMP</h1>
        </div>
      </div>
    </div>
    {% endif %}
    {% if not empty %}
    <div class="flex container mx-auto w-full items-center justify-center">
      <div class="w-full bg-white bg-opacity-90 shadow-lg rounded-lg border-4 mt-8">
        <p class="text-4xl font-semibold text-center pt-10">My Collection</p>
        <h1 class="text-1xl text-center pt-5">Select a card to set it as your profile</h1>
        <form class="grid grid-cols-3 gap-4 items-center p-4" action="/profile" method="POST">
          {% for card in collection %}
          <div class="group h-96 w-96">
            <label class="w-full h-full bg-gradient-to-r from-purple-500 to-blue-500 rounded-lg overflow-hidden items-center justify-center flex p-2">
              <input type="radio" name="profile" value="{{card[0]}}" class="hidden peer">
              <div class="relative h-full w-full bg-white rounded-lg flex flex-col items-center justify-center peer-checked:ring-4 peer-checked:ring-yellow-500 transition-all duration-500 [transform-style:preserve-3d] group-hover:[transform:rotateY(180deg)]">
                <div class="absolute h-full w-full flex justify-center items-center">
                  <img src={{card[0]}} alt="cat" class="absolute w-full object-cover h-80 w-auto">
                </div>
                <div class="absolute h-full w-full rounded-lg bg-gradient-to-r from-purple-700/80 to-blue-700/80 text-center text-white [backface-visibility:hidden] [transform:rotateY(180deg)]">
                  <div class="p-4 flex justify-center items-center min-h-full">
                    <p class="text-white mt-2 text-center font-semibold">{{card[1]}}</p>
                  </div>
                </div>
              </div>
            </label>
          </div>
          {% endfor %}
          <button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded">Set Profile</button>
        </form>
      </div>
    </div>
    {% endif %}

  </body>

</html>
