<!DOCTYPE html>

  <head>
    <title> REST TRIVIA [COLLECTION] </title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
  </head>

  <body class="bg-cover bg-fixed bg-gradient-to-r from-blue-400 to-purple-400">
    <nav class="p-6 text-indigo-600 border-4">
      <div class="container mx-auto flex justify-between items-center border-4">
        <a href="/"><img src={{ url_for('static', filename='bed.png') }} alt="bed" width="150" height="150"></a>
        <ul class="flex space-x-6 mr-24">
          <li><form action="/logout">
          <input type="submit" class="hover:underline transition ease-in-out delay-50 hover:-translate-y-1 hover:scale-110 hover:bg-indigo-500 duration-300 rounded-lg p-3 text-white font-semibold text-base cursor-pointer" value="Logout"></form></li>
      </div>
    </nav>
    {% if empty %}
    <div class="flex justify-center h-screen">
      <div class="w-5/6 h-5/6 bg-white bg-opacity-90 shadow-lg rounded-lg border-4 flex justify-center items-start p-8">
        <div class="text-center">
          <h1 class="text-2xl font-semibold">My Collection</h1>
          <p class="text-2xl">You have no cards</p>
          <h1 class="text-6xl">WOMP WOMP</h1>
        </div>
      </div>
    </div>
    {% endif %}
      {% if not empty %}
      <div class="grid grid-cols-4 gap-4 w-5/6 bg-white bg-opacity-90 shadow-lg rounded-lg border-4">
        {% for card in collection %}
        <div class="w-48 bg-white shadow-lg rounded-lg overflow-hidden">
          <img src={{card[0]}} alt="cat" class="w-full object-cover">
          <div class="p-4">
            <p class="text-gray-600 mt-2">{{card[1]}}</p>
          </div>
        </div>
        {% endfor %}
      </div>
      {% endif %}
  </body>

</html>
