<!DOCTYPE HTML>
    <head>
        <title> REST TRIVIA [GACHA] </title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://cdn.tailwindcss.com"></script>
    </head>
    <body>   
        {% if request.method == "POST" %}
        <div class="absolute columns-5">
            {% if p0[0] != "DNE": %}
                <img src = {{p0[0]}} alt="Error : Failed to Generate Card" width="150px" height="150px">
                <p> {{p0[1]}} </p>
            {% endif %}
            {% if p1[0] != "DNE": %}
                <img src = {{p1[0]}} alt="Error : Failed to Generate Card" width="150px" height="150px">
                <p> {{p1[1]}} </p>
            {% endif %}
            {% if p2[0] != "DNE": %}
                <img src = {{p2[0]}} alt="Error : Failed to Generate Card" width="150px" height="150px">
                <p> {{p2[1]}} </p>
            {% endif %}
            {% if p3[0] != "DNE": %}
                <img src = {{p3[0]}} alt="Error : Failed to Generate Card" width="150px" height="150px">
                <p> {{p3[1]}} </p>
            {% endif %}
            {% if p4[0] != "DNE": %}
                <img src = {{p4[0]}} alt="Error : Failed to Generate Card" width="150px" height="150px">
                <p> {{p4[1]}} </p>
            {% endif %}
            {% if p5[0] != "DNE": %}
                <img src = {{p5[0]}} alt="Error : Failed to Generate Card" width="150px" height="150px">
                <p> {{p5[1]}} </p>
            {% endif %}
            {% if p6[0] != "DNE": %}
                <img src = {{p6v}} alt="Error : Failed to Generate Card" width="150px" height="150px">
                <p> {{p6[1]}} </p>
            {% endif %}
            {% if p7[0] != "DNE": %}
                <img src = {{p7[0]}} alt="Error : Failed to Generate Card" width="150px" height="150px">
                <p> {{p7[1]}} </p>
            {% endif %}
            {% if p8[0] != "DNE": %}
                <img src = {{p8[0]}} alt="Error : Failed to Generate Card" width="150px" height="150px">
                <p> {{p8[1]}} </p>
            {% endif %}
            {% if p9[0] != "DNE": %}
                <img src = {{p9[0]}} alt="Error : Failed to Generate Card" width="150px" height="150px">
                <p> {{p9[1]}} </p>
            {% endif %}
        </div>
        {% endif %}
        
        <h1> Your points: {{ P }} </h1>
        <div class="columns-2">
            <div> <!-- gacha random -->
                <img src = {{r1c}} alt="Error : Failed to Generate 'Random Pack Cover'" class="w-48 object-cover">
                <form action="/gacha" method="POST">
                    <button type="submit" name="action" value="R1" class="border-4"> PULL x1 [cost 10] </button>
                    <button type="submit" name="action" value="R10" class="border-4"> PULL x10 [cost 90]</button>
                </form>
            </div>
            
            <div class="break-after-column"> <!-- gacha swimwear -->
                <img src = {{sw1c}} alt="Error : Failed to Generate 'Swimwear Pack Cover'" class="w-48 object-cover"">
                <form action="/gacha" method="POST">
                    <button type="submit" name="action" value="SW1" class="border-4"> PULL x1 [cost 15] </button>
                    <button type="submit" name="action" value="SW10" class="border-4"> PULL x10 [cost 135]</button>
                </form>
            </div>
            
            <div> <!-- gacha maid -->
                <img src = {{m1c}} alt="Error : Failed to Generate 'Maid Pack Cover'" class="w-48 object-cover">
                <form action="/gacha" method="POST">
                    <button type="submit" name="action" value="M1" class="border-4"> PULL x1 [cost 15] </button>
                    <button type="submit" name="action" value="M10" class="border-4"> PULL x10 [cost 135]</button>
                </form>
            </div>
            
            <div> <!-- gacha vtuber -->
                <img src = {{vt1c}} alt="Error : Failed to Generate 'VTuber Pack Cover'" class="w-48 object-cover">
                <form action="/gacha" method="POST">
                    <button type="submit" name="action" value="VT1" class="border-4"> PULL x1 [cost 15] </button>
                    <button type="submit" name="action" value="VT10" class="border-4"> PULL x10 [cost 135]</button>
                </form>
            </div>
        </div>
        <br><br><br>
        <div>
            <form action="/welcome">
                <button type="submit" class="border-4"> Back to Dashboard </button>
            </form>
        </div>
    </body>
</html>
