<!DOCTYPE HTML>
<!--
Double Ls - Kevin Lin, Christopher Louie
SoftDev
K23 - NASA API
2024-11-20
time spent: 0.75
-->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>
      Cat Image
    </title>
    <h1>
      Here are your cards:
    </h1>
  </head>
  <body>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            <p>{{ message }}</p>
        {% endfor %}
    {% endif %}
    {% endwith %}
    
    {% for card in cardList %}
      <img src = {{card[0]}} alt="CatImage" width="150px" height="150px">
      <p> {{card[1]}} </p>
    {% endfor %}
  </body>
</html>
