<!DOCTYPE html>

  <head>
    <title> REST TRIVIA [SELECT QUESTION] </title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
  </head>

  <body class="bg-cover bg-fixed bg-gradient-to-r from-blue-400 to-purple-400 overflow-hidden">
    <nav class="p-6 text-indigo-600 border-4">
      <div class="container mx-auto flex justify-between items-center">
        <a href="/"><img src={{ url_for('static', filename='bed.png') }} alt="bed" width="150" height="150"></a
      </div>
    </nav>
    <div class="flex flex-col h-screen justify-center items-center">
      <div class="flex flex-col justify-center w-1/3 h-1/2 items-center bg-white bg-opacity-50 shadow-lg rounded-lg -translate-y-20">
        <h1 class="text-2xl font-semibold mb-6">Select a difficulty</h1>
        <div class="flex justify-center size-3/5">
          <button type="button" class="border-4">EASY</button>
          <button type="button" class="border-4">MEDIUM</button>
          <button type="button" class="border-4">HARD</button>
        </div>
      </div>
    </div>
  </body>

</html>
