<!DOCTYPE html>
  <html lang="en">

  <head>
    <title> REST TRIVIA [LOGIN] </title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
  </head>

  <body class="bg-cover bg-fixed bg-gradient-to-r from-blue-400 to-purple-400 overflow-hidden">
    <nav class="p-6 text-indigo-600 border-4">
      <div class="container mx-auto flex justify-between items-center border-4">
        <a href="/"><img src={{ url_for('static', filename='bed.png') }} alt="bed" width="150" height="150"></a>
        <ul class="flex space-x-6 mr-24">
          <li>
            <form action="/logout">
              <input type="submit" class="hover:underline transition ease-in-out delay-50 hover:-translate-y-1 hover:scale-110 hover:bg-indigo-500 duration-300 rounded-lg p-3 text-white font-semibold text-base cursor-pointer" value="Logout">
            </form>
          </li>
      </div>
    </nav>
    <div class="flex flex-col h-screen justify-center items-center">
      <div class="flex flex-row justify-between w-5/6 h-5/6 bg-opacity-90 bg-white shadow-lg rounded-lg -translate-y-20 border-4">
        <div class="flex flex-col justify-center w-3/4 p-6">
          <h1 class="text-2xl font-semibold mb-6">WELCOME {{user}}</h1>
          <section class="py-16">
            <div class="container mx-auto grid grid-cols-1 gap-8">
              <div class="p-6 bg-white bg-opacity-50 shadow-lg rounded-lg">
                <h2 class="text-2xl font-bold mb-4">YOU HAVE EARNED {{points}} POINTS</h2>
                <div>
                  <a href="/selection" class="text-blue-500 hover:text-blue-700 font-medium underline transition ease-in-out duration-200">EARN MORE<span>&rarr;</span></a>
                </div>
              </div>
              <div class="p-6 bg-white bg-opacity-50 shadow-lg rounded-lg">
                <h2 class="text-2xl font-bold mb-4">YOU HAVE OPENED {{packs}} PACKS</h2>
                <div>
                  <a href="/gacha" class="text-blue-500 hover:text-blue-700 font-medium underline transition ease-in-out duration-200">GACHA<span>&rarr;</span></a>
                </div>
              </div>
              <div class="p-6 bg-white bg-opacity-50 shadow-lg rounded-lg">
                <h2 class="text-2xl font-bold mb-4">YOU HAVE EARNED {{cards}} CARDS</h2>
                <div>
                  <a href="/collection" class="text-blue-500 hover:text-blue-700 font-medium underline transition ease-in-out duration-200">COLLECTION<span>&rarr;</span></a>
                </div>
              </div>
            </div>
          </section>
        </div>
        <div class="w-1/4 p-6 bg-white shadow-lg rounded-lg">
          <h1 class="text-2xl font-bold text-center text-gray-800 mb-4">Leaderboard</h1>
            <table class="table-auto w-full">
              <h1 class="text-2xl font-bold text-gray-800 p-4">Top Earners</h1>
              <thead>
                <tr>
                  <th class="px-4 py-2 text-left">Rank</th>
                  <th class="px-4 py-2 text-left">Name</th>
                  <th class="px-4 py-2 text-left">Points</th>
                </tr>
              </thead>
              <tbody>
                <tr class="hover:bg-gray-100">
                  <td class="px-4 py-2">1</td>
                  <td class="px-4 py-2">{PE1[0]}</td>
                  <td class="px-4 py-2">{PE1[1]}</td>
                </tr>
                <tr class="hover:bg-gray-100">
                  <td class="px-4 py-2">2</td>
                  <td class="px-4 py-2">{PE2[0]}</td>
                  <td class="px-4 py-2">{PE2[1]}</td>
                </tr>
                <tr class="hover:bg-gray-100">
                  <td class="px-4 py-2">2</td>
                  <td class="px-4 py-2">{PE3[0]}</td>
                  <td class="px-4 py-2">{PE3[1]}</td>
                </tr>
              </tbody>
            </table>
            <table class="table-auto w-full">
              <h1 class="text-2xl font-bold text-gray-800 p-4">Top Collectors</h1>
              <thead>
                <tr>
                  <th class="px-4 py-2 text-left">Rank</th>
                  <th class="px-4 py-2 text-left">Name</th>
                  <th class="px-4 py-2 text-left">Cards</th>
                </tr>
              </thead>
              <tbody>
                <tr class="hover:bg-gray-100">
                  <td class="px-4 py-2">1</td>
                  <td class="px-4 py-2">{C1[0]}</td>
                  <td class="px-4 py-2">{C1[1]}</td>
                </tr>
                <tr class="hover:bg-gray-100">
                  <td class="px-4 py-2">2</td>
                  <td class="px-4 py-2">{C2[0]}</td>
                  <td class="px-4 py-2">{C2[1]}</td>
                </tr>
                <tr class="hover:bg-gray-100">
                  <td class="px-4 py-2">2</td>
                  <td class="px-4 py-2">{C3[0]}</td>
                  <td class="px-4 py-2">{C3[1]}</td>
                </tr>
              </tbody>
          </table>
          <table class="table-auto w-full">
            <h1 class="text-2xl font-bold text-gray-800 p-4">Top Packs Opened</h1>
            <thead>
              <tr>
                <th class="px-4 py-2 text-left">Rank</th>
                <th class="px-4 py-2 text-left">Name</th>
                <th class="px-4 py-2 text-left">Packs</th>
              </tr>
            </thead>
            <tbody>
              <tr class="hover:bg-gray-100">
                <td class="px-4 py-2">1</td>
                <td class="px-4 py-2">{O1[0]}</td>
                <td class="px-4 py-2">{O1[1]}</td>
              </tr>
              <tr class="hover:bg-gray-100">
                <td class="px-4 py-2">2</td>
                <td class="px-4 py-2">{O2[0]}</td>
                <td class="px-4 py-2">{O2[1]}</td>
              </tr>
              <tr class="hover:bg-gray-100">
                <td class="px-4 py-2">2</td>
                <td class="px-4 py-2">{O3[0]}</td>
                <td class="px-4 py-2">{O3[1]}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </body>
</html>
